.header {
  text-align: center;
  color: aqua;
}

.holder {
  width: 400px;
  height: 560px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.display {
  width: 370px;
  height: 80px;
  background-color: wheat;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

button {
  width: 80px;
  height: 80px;
  background-color: aliceblue;
  border: 1px solid black;
}

.oporators {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
